{% extends 'default.html' %}

<!-- Название у нас будет Ad -->
{% block title %}
Ad
{% endblock title %}

<!-- В контенте на странице мы выводим все объявления -->
{% block content %}
   <h1>Все объявления</h1>
   <hr>
   {% if ads %}
       <table>
           <tr>
               <td width="400">Название</td>
               <td width="150">Дата публикации объявления</td>
               <td width="700">Описание</td>
               <td width="200">Категории</td>
               {# Условие получается составным. #}
               {% if perms.BoardApp.change_ad or perms.BoardApp.ad_delete %}
               <td width="250">Действия</td>
               {% endif %}
           </tr>
           {% for ad in ads %}
           <tr>
               <td> <a href="{% url 'ad_detail' ad.pk %}"> {{ad.title}} </a></td>
               <td>{{ ad.ad_time|date:'d.m.Y' }}</td>
               <td>{{ ad.text|truncatewords:20 }}</td>
               <td>{{ ad.get_category_display  }}</td>
               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if ad.author == request.user %}
                        <a href="{% url 'ad_update' ad.pk %}">Изменить</a>
                        <a href="{% url 'ad_delete' ad.pk %}">  Удалить</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}